* {
    margin: 0;
}

body {
    background-color: rgb(36, 36, 36);
}

.account-form {
    max-width: 315px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .account-form-container {
        width: 90%;
        margin: auto;
        background-color: #fafafa;
        border-radius: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin: auto;
        color: #0a0a0a;
    }

    p {
        margin: auto;
        width: 100%;
        font-family: 'Inter', sans-serif;
        color: #0a0a0a;
        font-size: 1rem;
    }

    .create-account-link {
        background-color: transparent;
        border: none;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        color: #00aeff;
        text-align: left;

        &:hover {
            cursor: pointer;
            color: #0077ff;
            transition: all 0.1s ease-in-out;
        }
    }

    label {
        font-family: 'Inter', sans-serif;
        color: #0a0a0a;
        margin-bottom: -18px;
        margin-left: 15%;
    }

    input {
        width: 100%;
        height: 40px;
        margin: auto;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        padding-left: 10px;
        background-color: #ebebeb;
    }

    .sign-in-btn {
        transition: all 0.1s ease-in-out;
        background-color: #00aeff;
        width: 100%;
        height: 40px;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        color: #fafafa;
        font-family: 'Inter', sans-serif;
        font-size: 1.1rem;

        &:hover {
            cursor: pointer;
            background-color: #0077ff;
            transition: all 0.1s ease-in-out;
        }
    }

    .create-account-btn {
        transition: all 0.1s ease-in-out;
        background-color: #00aeff;
        width: 100%;
        height: 40px;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        color: #fafafa;
        font-family: 'Inter', sans-serif;
        font-size: 1.1rem;

        &:hover {
            cursor: pointer;
            background-color: #0077ff;
            transition: all 0.1s ease-in-out;
        }
    }

}

@media screen and (min-width: 499px) {
    
    .account-form {
        min-width: 500px;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .account-form-container-large {
        width: 90%;
        margin: auto;
        background-color: #fafafa;
        border-radius: 30px;
        padding: 20px 74px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    }

    .text-container {
        display: flex;
        justify-content: space-between;
    }
}